---
import { Image } from "astro:assets";
import projectImage from "@/assets/project.webp";
---

<section id="work" class="px-8 lg:px-16">
  <div
    class="w-full flex flex-col gap-4 md:gap-0 md:flex-row md:justify-between"
  >
    <div class="md:w-1/2 text-white font-medium text-sm">
      <p>Based in Sarasota, Florida</p>
      <p>and Working Worldwide.</p>
    </div>
    <div
      class="md:w-1/2 text-white font-medium text-sm md:text-right text-balance mb-10 md:mb-24"
    >
      <p>Renew, create, update and improve to get attention.</p>
      <p>Strategy, Design & Development.</p>
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <div class="rounded-md">
      <a href="/projects/proyecto-ejemplo">
        <img
          transition:name="project"
          class:list={["w-full object-cover max-h-[250px]"]}
          width="300"
          height="200"
          alt="Imagen de Proyecto1"
          src="/projects/proyecto-ejemplo.webp"
        />
      </a>
    </div>
    <div class="rounded-md">
      <Image
        src={projectImage}
        alt="work image"
        width={300}
        height={200}
        class:list={["w-full", "object-cover"]}
      />
    </div>
    <div class="rounded-md">
      <Image
        src={projectImage}
        alt="work image"
        width={300}
        height={200}
        class:list={["w-full", "object-cover"]}
      />
    </div>
    <div class="rounded-md">
      <Image
        src={projectImage}
        alt="work image"
        width={300}
        height={200}
        class:list={["w-full", "object-cover"]}
      />
    </div>
    <div class="rounded-md">
      <Image
        src={projectImage}
        alt="work image"
        width={300}
        height={200}
        class:list={["w-full", "object-cover"]}
      />
    </div>
    <div class="rounded-md">
      <Image
        src={projectImage}
        alt="work image"
        width={300}
        height={200}
        class:list={["w-full", "object-cover"]}
      />
    </div>
    <div class="rounded-md">
      <Image
        src={projectImage}
        alt="work image"
        width={300}
        height={200}
        class:list={["w-full", "object-cover"]}
      />
    </div>
    <div class="rounded-md">
      <Image
        src={projectImage}
        alt="work image"
        width={300}
        height={200}
        class:list={["w-full", "object-cover"]}
      />
    </div>
    <div class="rounded-md">
      <Image
        src={projectImage}
        alt="work image"
        width={300}
        height={200}
        class:list={["w-full", "object-cover"]}
      />
    </div>
  </div>
</section>
